.wrap{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 800px;
    width: 800px;
    background-color: green;
}

.numbers{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 200px ;
    width: 700px;
    background-color: blue;
}

#firstNum{
    background-color: white;
    height: 100px;
    width: 200px;
}

input{
    width: 200px;
    height: 100px;
    font-size: 50px;
    
}

#secondNum{
    background-color: white;
    height: 100px;
    width: 200px;
}

.generate{
    display: flex;
    justify-content: center;
    height: 200px;
    width: 700px;
    background-color: red;
}

button{
    width: 700px;
    font-size: 100px;
    background-color: tomato;
}

.display{
    display: flex;
    height: 200px;
    width: 700px;
    background-color: orange;
    justify-content: center;
    align-items: center;
}

output{
    font-size: 50px;
}